html {
    scroll-behavior: smooth;
}

input, textarea {
    outline: none;
}

* {
    padding: 0px;
    margin: 0px;
    color: white;
}

ul {
    display: inline-block;
    list-style: none
}

ul>li {
    display: inline-block;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

/* font-family: 'Roboto', sans-serif;
font-family: 'Cinzel', serif;
font-family: 'Montserrat', sans-serif; */

.container {
    width: 100%;
}

/* logo  */

#logo>.container {
    display: flex;
    justify-content: center;
}

#logo>.container>.logo {
    cursor: pointer;
    padding: 20px;
    margin-top: 10px;
}

/* menu  */

#menu {
    position: sticky;
    z-index: 5;
    top: 0;
    background: white;
}

#menu>.container {
    padding: 10px 0px;
}

#menu>.container>ul {
    display: flex;
    justify-content: center;
}

#menu>.container>ul>li>a {
    font-family: 'Cinzel', serif;
    text-transform: uppercase;
    font-size: .8rem;
    letter-spacing: .05rem;
    font-weight: 400;
    display: inline-block;
    color: #000;
    padding: 10px 16px;
}

/* slider  */

#slider {
    padding-bottom: 40px;
}

#slider>.container {
    display: flex;
    justify-content: center;
}

#slider>.container>.imgbox {
    position: relative;
    width: 1140px;
}

hr {
    opacity: 0.3;
}

.imgbox>.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #222;
    opacity: 0.3;
}

#slider>.container>.imgbox>h2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 4.2vw;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
}

#slider>.container>.imgbox>h1 {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.6vw;
    font-family: 'Cinzel', serif;
    font-weight: 300;
    text-transform: uppercase;
}

#slider .container {
    position: relative;
}

#slider .container::before {
    cursor: pointer;
    content: "\f060";
    color: gray;
    font-family: "Font Awesome 5 Pro";
    font-weight: 400;
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translate(-50%, -50%);
    font-size: 20px;
}

#slider .container::after {
    cursor: pointer;
    content: "\f061";
    color: gray;
    font-family: "Font Awesome 5 Pro";
    font-weight: 400;
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translate(-50%, -50%);
    font-size: 20px;
}

/* Products */

#products {
    padding: 100px 0px;
}

#products>.container {
    text-align: center;
}

#products>.container>h1 {
    margin-bottom: 10px;
    font-size: 2rem;
    font-weight: 400;
    font-family: 'Cinzel', serif;
    line-height: 1.2;
    color: #000;
}

#products>.container>h2 {
    margin-bottom: 15px;
    color: #000;
    line-height: 1.7;
    font-weight: 400;
    font-size: 1rem;
    font-family: 'Roboto', sans-serif;
}

#products>.container>a {
    color: #930077;
    line-height: 1.7;
    font-weight: 400;
    font-size: 1rem;
    font-family: 'Roboto', sans-serif;
}

#products>.container>a>i {
    color: #930077;
}

#products>.container>.product>ul {
    max-width: 1140px;
}

#products>.container>.product>ul>li {
    position: relative;
    margin: 0px 10px;
    text-align: center;
    padding-bottom: 10px;
    width: 31%;
}

#products>.container>.product>ul>li:hover .hoverbox {
    opacity: 1;
}

#products>.container>.product>ul>li::before {
    content: "";
    background: #f3f4f5;
    top: 20%;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    z-index: -1;
}

#products h4 {
    padding-top: 20px;
    color: #000;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    line-height: 1.2;
}

#products h5 {
    padding-top: 5px;
    line-height: 1.7;
    color: gray;
    font-weight: 300;
    font-size: 1rem;
    font-family: 'Roboto', sans-serif;
}

.product {
    margin-top: 120px;
}

.hoverbox {
    padding: 20px 0px 30px 0px;
    position: absolute;
    left: 20px;
    right: 20px;
    bottom: 20px;
    background: #fff;
    opacity: 0;
    transition: .4s;
}

.hoverbox>ul {
    display: block;
    margin-bottom: 25px;
}

.fa-star {
    font-size: 16px;
    color: #ffbd39;
    padding: 10px 0px;
}

a>.btn {
    transition: .4s;
    font-family: 'Roboto', sans-serif;
    background: #930077;
    padding: 10px 20px;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5;
}

a>.btn:hover {
    background: #60004e;
}

.fa-shopping-bag {
    padding-right: 10px;
}

/* everyone  */

#everyone {
    text-align: center;
}

#everyone>.container {
    padding: 130px 0px;
    background: url(imgs/bg2.jpg);
    background-size: cover;
    position: relative;
    background-attachment: fixed;
    background-position: center center;
}

#everyone>.container>.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #222;
    opacity: 0.3;
}

#everyone>.container>h1 {
    position: relative;
    font-size: 1.6vw;
    font-family: 'Cinzel', serif;
    font-weight: 300;
    text-transform: uppercase;
}

#everyone>.container>h2 {
    position: relative;
    padding: 0% 25%;
    font-size: 4.2vw;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
}

/* theysay  */

#theysay {
    background-color: #f8f9fa;
    padding: 120px 0px;
    text-align: center;
}

#theysay>.container>ul {
    max-width: 1400px;
}

#theysay>.container>ul>li {
    box-sizing: border-box;
    padding: 0px 20px;
    width: 30%;
    text-align: center;
}

#theysay>.container>ul>li>img {
    width: 80px;
    border-radius: 100%;
    border: 4px solid #930077;
}

#theysay>.container>ul>li>p {
    padding: 20px 0px;
    font-size: 20px;
    font-family: 'Cinzel', serif;
    text-align: center;
    line-height: 1.7;
    color: gray;
    font-weight: 300;
}

#theysay>.container>ul>li>h4 {
    font-size: 18px;
    font-family: 'Cinzel', serif;
    text-align: center;
    line-height: 1.7;
    color: #930077;
    font-weight: 500;
}

/* WinesBlog  */

#WinesBlog {
    background-color: #f8f9fa;
    text-align: center;
    padding: 100px 0px;
}

#WinesBlog>.container>ul {
    margin-top: 100px;
    max-width: 1400px;
}

#WinesBlog>.container>ul>li {
    text-align: left;
    box-sizing: border-box;
    padding: 0px 20px;
    width: 30%;
}

#WinesBlog>.container>h1 {
    padding-bottom: 10px;
    color: #000;
    font-size: 2rem;
    font-weight: 500;
    font-family: 'Cinzel', serif;
}

#WinesBlog>.container>h2 {
    padding-bottom: 10px;
    line-height: 1.7;
    color: #000;
    font-weight: 400;
    font-size: 1rem;
    font-family: 'Roboto', sans-serif;
}

#WinesBlog>.container>a {
    display: block;
    padding-bottom: 10px;
    line-height: 1.7;
    color: #930077;
    font-weight: 400;
    font-size: 1rem;
    font-family: 'Roboto', sans-serif;
}

#WinesBlog>.container>a>i {
    color: #930077;
}

#WinesBlog>.container>ul>li>h1 {
    cursor: pointer;
    padding-bottom: 10px;
    color: #000;
    font-size: 20px;
    font-family: 'Cinzel', serif;
    font-weight: 500;
}

#WinesBlog>.container>ul>li>h2 {
    padding-bottom: 10px;
    line-height: 1.7;
    color: #808080;
    font-weight: 300;
    font-size: 17px;
    font-family: 'Roboto', sans-serif;
}

#WinesBlog>.container>ul>li>p {
    line-height: 1.7;
    color: gray;
    font-weight: 300;
    font-family: 'Roboto', sans-serif;
    font-size: .8rem;
}

#WinesBlog>.container>ul>li>p>span {
    cursor: pointer;
    font-size: .8rem;
    color: #000;
    line-height: 1.7;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
}

/* footer  */

#footer {
    padding: 130px 0px;
    text-align: center;
}

#footer>.container>ul>li {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #930077;
    color: #fff;
}

#footer>.container>ul>li>i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 17px;
    font-weight: 400;
    line-height: 1.7;
}

#footer>.container>p {
    line-height: 1.7;
    color: gray;
    font-weight: 300;
    font-size: .85rem;
    font-family: 'Roboto', sans-serif;
    padding-top: 50px;
}

#footer>.container>p>a {
    line-height: 1.7;
    font-weight: 400;
    font-size: .85rem;
    font-family: 'Roboto', sans-serif;
    padding-top: 50px;
    color: #930077;
}

#footer>.container>p>i {
    color: #f23a2e;
    padding-right: 5px;
}

/*for  contact.html  */

/* ContactUs  */

#ContactUs {
    background: #f8f9fa;
    padding: 120px 0px;
    text-align: center;
}

#ContactUs>.container {
    max-width: 1140px;
    margin: auto;
    text-align: left;
}

#ContactUs>.container>h1 {
    margin-bottom: 50px;
    font-size: 2rem;
    font-weight: 400;
    font-family: 'Cinzel', serif;
    color: black;
}

#ContactUs>.container>textarea {
    width: 98%;
    font-size: 1.25rem;
    line-height: 1.5;
    border-radius: 0.3rem;
    color: #495057;
    border: 1px solid #ccc;
}

.inputs4 {
    margin: 20px 0px;
}

.inputs4>h5 {
    font-family: 'Roboto', sans-serif;
    width: 48%;
    display: inline-block;
    box-sizing: border-box;
    line-height: 1.7;
    color: gray;
    font-weight: 400;
    font-size: 1rem;
    margin-right: 20px;
}

.inputs4>input {
    margin: 10px 20px 10px 0px;
    padding: 8px 20px;
    box-sizing: border-box;
    display: inline-block;
    width: 48%;
    font-size: 1.25rem;
    line-height: 1.5;
    border-radius: 5px;
    color: #495057;
    border: 1px solid #ccc;
}

.inputs4>input:focus {
    border-color: #ff14d2;
}

#ContactUs>.container>textarea:focus {
    border-color: #ff14d2;
}

.ibtn {
    border: none;
    margin-top: 20px;
    display: block;
    cursor: pointer;
    color: #fff;
    background-color: #930077;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 5px;
    padding: 15px 42px;
}

/*for  About.html  */

/* About  */

#HowWeStarted {
    padding: 50px;
}

#HowWeStarted>.container {
    width: 1140px;
    margin: auto;
}

#HowWeStarted>.container>ul {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    margin-bottom: 20px;
}

#HowWeStarted>.container>ul>li {
    align-items: flex-start;
    width: 44%;
    margin: 30px;
}

#HowWeStarted>.container>ul>li>h1 {
    padding: 20px 0px;
    margin-bottom: 20px;
    font-family: 'Cinzel', serif;
    color: black;
    font-size: 2rem;
    font-weight: 500;
    line-height: 1.2;
}

#HowWeStarted>.container>ul>li>h2 {
    padding: 10px 0px;
    margin-bottom: 10px;
    line-height: 1.7;
    color: gray;
    font-weight: 300;
    font-size: 1rem;
    font-family: 'Roboto', sans-serif;
}

#HowWeStarted>.container>ul>li>h6 {
    color: #25262a;
    letter-spacing: .05em;
    font-size: 18px;
    font-family: 'Cinzel', serif;
    font-weight: 500;
    line-height: 1.2;
}

#HowWeStarted>.container>ul>li>h5 {
    line-height: 1.7;
    color: gray;
    font-weight: 300;
    font-size: 1rem;
    font-family: 'Roboto', sans-serif;
}

#HowWeStarted>.container>ul>li>i {
    font-size: 40px;
    display: inline-block;
    color: #930077;
    position: relative;
    left: -65px;
    top: 43px;
}
